<!-- <div class="py-4">
    <form [formGroup]="productForm" class="space-y-3 ">
        <div class="">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" formControlName="name" class="border ml-2 px-1"/>
            <span>hello</span>
            
        </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" formControlName="category" class="border ml-2 px-1"/>
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" formControlName="quantity" class="border ml-2 px-1"/>
        </div>
        <button (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Submit
        </button>
    </form>
</div> -->
<div >
    <form [formGroup]="productForm" fxLayout="column" fxLayoutAlign="space-around center" class="container" >
        <mat-form-field appearance="fill" class="textField">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" placeholder="FullName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="textField">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" placeholder="category">
        </mat-form-field>
        <mat-form-field appearance="fill" class="textField">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="quantity" placeholder="quantity">
        </mat-form-field>
        <button mat-flat-button  class="textField" (click)="onSubmit()" style="background-color: cornflowerblue;">Submit</button>
    </form>    
</div>
