<app-filter (searchFilter)="searchFilter($event)"></app-filter>
<table class="table-auto w-full">
    <thead>
        <tr class="text-left">
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Category</th>
            <th class="px-4 py-2">Status</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Increase</th>
            <th class="px-4 py-2">Decrease</th>
            <th class="px-4 py-2">Delete</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let p of products; let idx = index">
            <tr class="border px-4 py-2">
                <td class="border px-4 py-2">{{p?.name}}</td>
                <td class="border px-4 py-2">{{p?.category}}</td>
                <td class="border px-4 py-2">{{p?.status ? "In Stock" : "Out of stock"}}</td>
                <td class="border px-4 py-2">{{p?.quantity}}</td>
                <td class="border px-4 py-2"><button (click)="increaseStock(idx, p)" class="mr-2">+</button></td>
                <td class="border px-4 py-2"><button (click)="decreaseStock(idx, p)" class="mr-2">-</button></td>
                <td class="border px-4 py-2"><button (click)="deleteProduct(idx)">Delete</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>
